body
{
    background-color: black;
    color: white;
}

#p1, #p2, #gameInfo
{
    border-style: ridge;
    border-color: white;
    padding: 5px;
}

#p1history, #p2history
{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#text
{
    float: left;
    width: 25%;
}

#theBoard
{
    border-style: ridge;
    border-color: white;
    float: right;
}

#hform
{
    position: fixed;
    width: 20px;
    border: 1px solid black;
}